<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Our extras</span></h4>
    <ol class="list-featured">
        <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="" class="text-dark">Scoop</a>
                    <img src="https://cdn.shopify.com/s/files/1/0605/5991/7273/products/SmootailMessloeffel300ml_1_540x.jpg?v=1654775862" width="100">
                </h6>
                <span class="d-block text-muted">
                    <span class="catlist">
                        <a class="text-capitalize text-muted smoothscroll"
                            href="">{{ category }}</a><span
                            class="sep">, </span>
                    </span>
                </span>
            </span>
        </li>
        <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="" class="text-dark">Bucket</a>
                    <img src="https://cdn.shopify.com/s/files/1/0605/5991/7273/products/SmoothieBucket_540x.jpg?v=1654777000" width="100">
                </h6> 
                <span class="d-block text-muted">
                    <span class="catlist">
                        <a class="text-capitalize text-muted smoothscroll"
                            href="">{{ category }}</a><span
                            class="sep">, </span>
                    </span>
                </span>
            </span>
        </li>
        <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="" class="text-dark">Blender</a>
                    <img width="100" src="https://www.wmf.com/media/catalog/product/cache/3be1e5e5b0116c9f5b2725ddd3dc00b3/e/6/e6c03efe-3bcc-487e-898b0d4c540f740c-696ff880.jpg">
                </h6>
                <span class="d-block text-muted">
                    <span class="catlist">
                        <a class="text-capitalize text-muted smoothscroll"
                            href="">{{ category }}</a><span
                            class="sep">, </span>
                    </span>
                </span>
            </span>
        </li>
    </ol>
</div>