{% if site.facebook_analytics %}
<amp-analytics type="facebookpixel" id="facebook-pixel" data-block-on-consent="_till_accepted" {% if site.cookie_consent %}data-block-on-consent="_till_accepted"{% endif %}>
    <script type="application/json">
        {
            "vars": {
                "pixelId": "{{ site.facebook_analytics }}"
            },
            "triggers": {
                "trackPageview": {
                    "on": "visible",
                    "request": "pageview"
                }
            }
        }
    </script>
  </amp-analytics>
{% endif %}